
/*medias queries*/

@media screen and (max-width: 780px){
 
    /*index*/

 .cabecera{
        width: 100%;
        padding-top: 4rem ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .cabecera__imagen{
            display: none;
        }
        .cabecera__nav{
            font-size: 2rem;
        }
 }   
.cuerpo{
    .cuerpo__titulo__letras{
        font-size: 4rem;
        }
    .presentacion__imagen{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding-top: 2rem;
        border: solid 2px rgb(138, 136, 136);
        background-color: rgb(218, 185, 205);
        }
    .productos__lista__contenedor{
        flex-direction: column;
        border: solid 1rem rgb(138, 136, 136);
        margin-top: 1rem;
    }
    .video__titulo{
        text-align: center;
    }
    .video__iframe{
        background-color: rgb(138, 136, 136);
    }
}

.pie{
    .nav-home{
        margin-top: 1rem;
    
        .pie__imagen{
        height: 6rem;
        }
    }
    .pie__nav{
        margin-right: 2rem;
    }

}



}